* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ocupan todo el renglon */
/* .div-padre{
    display: grid;
    width: 100px; 
    height: 100px;
} */

/* crea cuadricula/tablero */
.div-padre{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
}
.div-hijo{
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
}

.div-hijo:nth-child(2n){
    background-color: #fff;
    color: #000;
}

.div-hijo:nth-child(2n+1){
    background-color: rgb(13, 13, 14);
}