body{
    margin: 0;
}

.div-padre{
    display: flex; /* si lo quito SE posicionan vertical */
}
/* para los divs hijos */
.div-padre div{
    width: 100px;
    height: 100px;
}

.div-padre div:nth-child(2n){
    background-color: red;
}

.div-padre div:nth-child(2n+1){
    background-color: blue;
}